<div>
  <form action="/rooms/{{room.id}}" method="post">
      <legend>Edit Room</legend>
      <div class="form-group">
        <label for="room-topic">New topic</label>
        <input type="text" name="topic" class="form-control" id="room-topic" value="{{room.topic}}" placeholder="New topic">
      </div>
      <div class="text-rigth">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
  </form>
</div>
